*{
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: .3em;
}

 
body::-webkit-scrollbar-thumb {
  background-color: #966a4a;
  outline: 1px solid slategrey;
}


.swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background: #966a4a;
  color: #fff;
  font-size: 1em;
}
